<header class="cabecario">
    <div class="container d-flex justify-content-evenly ">
        
        <a href="#">Pratagy breach...</a>
        <a href="#"><i class="fa-solid fa-calendar-days"></i> <span>21 JUN - 25 JUN (4 noites)</span></a>
        <a href="#"><i class="fa-solid fa-person-dress"></i><span>2</span></a>
        <a href="#"><i class="fa-sharp fa-solid fa-person"></i><span>  0</span></a>
        <a href="#">modificar busca<i class="fa-solid fa-caret-right"></i></a>
        
    </div>
</header>