@charset "utf-8";

:root{
    --p0: #3d29a0;
    --p1: #5776cf;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
}

header {
    height: 40px;
    line-height: 30px;
    background-color: var(--p0);
}
header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
header a span{
    margin-left: 15px;
}
.containerModify{
    max-width: 900px;
    margin: auto;
}
.esquerda{
    margin-top: 10px;
    max-width: 670px;
    float: left;
    padding: 0 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgb(51, 50, 50);
}
.both{
    clear: both;
}
.carrinho{
    max-width: 210px;
    overflow: hidden;
    padding: 10px;
    float: right;
}
.menu {
    height: 40px;
    line-height: 40px;
    background-color: var(--p1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}
.spanM{
    display: none;
}
.conteudo article {
    
    border-right: 1px solid rgb(69, 67, 67);
    border-bottom: 1px solid rgb(69, 67, 67);
}
.conteudo article .partOne, .conteudo article .partTwo{
    height: 250px;
    overflow: hidden;
}
.conteudo article .partOne select, .conteudo article .partTwo select{
font-size: 10px;
padding: 3px;
text-transform: uppercase;
}
.conteudo article hr{
    width: 108%;
}
.carrinho .title{
    background-color: var(--p0);
    border-radius: 10px 10px 0px 0px;
    padding: 8px;
    text-align: center;
}
.carrinho .addCar{
    box-shadow: 1px 1px 5px black;
    padding: 10px;
}
.carrinho .addCar h5{
    font-size: 14px;
    text-align: center;
    font-weight: bolder;
}
.carrinho .addCar p{
    font-size: 14px;
    text-align: center;
}
.carrinho button{
    width: 100%;
    color: black;
    margin-top: 20px;
    box-shadow: 1px 1px 5px black;
}
div article figure{
    width: 106%;
    display: inline-block;
}
div article figure p{
    display: inline;
    padding: 4px;
    background-color: #f90e39;
    line-height: 30px;
    max-width: 50%;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin-left: 15px;
}
div article figure figcaption{
    display: flex;
    justify-content: space-around;
}
.descrition{
   height: 100px;
   overflow: hidden; 
   position: relative;
}
.descrition::before{
    content: '';
    background: linear-gradient(transparent, rgb(255, 255, 255));
    position: absolute;
    bottom: 10px;
    height: 20%;
    width: 100%;
    
}
.lermais{

}
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 767px) { 
.menu{
    display: none;
}
.menu {
    height: 20px;
    line-height: 20px;
}
.spanM{
    display: block;
}
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) { }

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {  }
